@import 'modern-normalize/modern-normalize.css';

:root {
    --colors-background1: #ffffff;
    --colors-text1: #000000;
    --colors-text2: #666666;
    --colors-primary: #007bff;
    /* Azul para botones principales */
    --colors-secondary: #6c757d;
    /* Gris para elementos secundarios */
    --colors-success: #28a745;
    /* Verde para estados completados */
    --colors-warning: #ffc107;
    /* Amarillo para pendientes */
    --colors-error: #dc3545;
    /* Rojo para errores o inactivos */
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: var(--colors-background1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}